body,h1,#box{
		max-width:100%;

}

body{
	background:url("../images/background.jpg");
	}

body, h1, .container{
	text-align: center;
	font-family: Arial, sans-serif;

}

h1{
	color:blue;
	font-family: Arial, sans-serif;
	font-size: 56px;
	font-style: italic;
}

body{

	font-size: 36px;
}

.answer, .question{
	margin-top: 5px;
	font-size:25px;

}
.correct-answer{
	font-size:30px;
	color:red;
	margin-bottom: 20px;
}
.start{
	font-size:36px;
}


.container{
	text-align: center;
	width:600px;
	height:640px;
	border: 2px solid blue;
	margin:auto;
	margin-top: 20px;
	padding: 30px 20px 30px 20px;
	background:#d5e74d;
}